#=================================================================#
# Template file: SIS8300bpm.template
# Database for the records specific to the Struck SIS8300 BPM driver
# Hinko Kocevar
# September 22, 2016