#=================================================================#
# Template file: SIS8300N.template
# Database for the records specific to the Struck SIS8300 driver
# Hinko Kocevar
# September 11, 2016

record(stringout, "$(P)$(R)Name")
{
    field(VAL,  "$(NAME)")
    info(autosaveFields, "VAL")
}

record(bo, "$(P)$(R)Enable")
{
    field(PINI, "YES")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_ENABLE")
    field(ZNAM, "Disabled")
    field(ONAM, "Enabled")
    field(PINI, "YES")
    field(VAL,  "0")
    info(autosaveFields, "VAL")
}

record(bi, "$(P)$(R)Enable_RBV")
{
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_ENABLE")
    field(SCAN, "I/O Intr")
    field(ZNAM, "Disabled")
    field(ONAM, "Enabled")
}

record(ao, "$(P)$(R)ConvFactor")
{
    field(PINI, "YES")
    field(DTYP, "asynFloat64")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_CONV_FACTOR")
    field(PREC, "8")
    field(EGU,  "V/adc")
    field(VAL,  "0.000030518")
    info(autosaveFields, "VAL")
}

record(ai, "$(P)$(R)ConvFactor_RBV")
{
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_CONV_FACTOR")
    field(PREC, "8")
    field(EGU,  "V/adc")
    field(SCAN, "I/O Intr")
}

record(ao, "$(P)$(R)ConvOffset")
{
    field(PINI, "YES")
    field(DTYP, "asynFloat64")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_CONV_OFFSET")
    field(PREC, "3")
    field(EGU,  "V")
    field(VAL,  "-1.0")
    info(autosaveFields, "VAL")
}

record(ai, "$(P)$(R)ConvOffset_RBV")
{
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_CONV_OFFSET")
    field(PREC, "3")
    field(EGU,  "V")
    field(SCAN, "I/O Intr")
}

record(ao, "$(P)$(R)Attenuation")
{
    field(PINI, "YES")
    field(DTYP, "asynFloat64")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_ATTENUATION")
    field(PREC, "1")
    field(EGU,  "dB")
    field(DRVH, "0.0")
    field(DRVL, "-31.5")
    info(autosaveFields, "VAL")
}

record(ai, "$(P)$(R)Attenuation_RBV")
{
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_ATTENUATION")
    field(PREC, "1")
    field(EGU,  "dB")
    field(SCAN, "I/O Intr")
}

record(longout, "$(P)$(R)DecimFactor")
{
    field(PINI, "YES")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_DECIM_FACTOR")
    field(DRVL, "1")
    field(VAL,  "1")
    info(autosaveFields, "VAL")
}

record(longin, "$(P)$(R)DecimFactor_RBV")
{
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_DECIM_FACTOR")
    field(SCAN, "I/O Intr")
}

record(longout, "$(P)$(R)DecimOffset")
{
    field(PINI, "YES")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_DECIM_OFFSET")
    field(DRVL, "0")
    field(VAL,  "0")
    info(autosaveFields, "VAL")
}

record(longin, "$(P)$(R)DecimOffset_RBV")
{
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SIS_DECIM_OFFSET")
    field(SCAN, "I/O Intr")
}
